<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>John Kuhn</h1>
          <h2 class="subheading">Software Engineer at Oliver.Space</h2>
          <h2 class="subheading">former Salesforce, Crafty</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main class="container">
  <section class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a href="#3-22-2020">
          <h2>Auto-convert .HEIC files in your Downloads directory</h2>
        </a>
        <p class="post-meta">Posted on March 22, 2020</p>
      </div>
      <div class="post-preview">
        <a href="#4-18-2020">
          <h2>Build a SlackBot to keep your company's Corona moral high</h2>
        </a>
        <p class="post-meta">Posted on April 18, 2020</p>
      </div>
    </div>
  </section>
</main>
