<!-- Page Header -->
<header class="masthead" style="background-image: url('https://blog123videos.s3.amazonaws.com/tech-blog/masthead.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>John Kuhn</h1>
          <span class="subheading">Software Engineer at Oliver.Space</span>
          <span class="subheading">former Salesforce, Crafty</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <!-- <a href="posts/3-22-2020.html"> -->
        <a href="#3-22-2020">
          <h1>Auto-convert .HEIC files in your Downloads directory</h1>
        </a>
        <p class="post-meta">Posted on March 22, 2020</p>
      </div>
      <hr>
      <!-- Pager -->
      <!-- <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div> -->
    </div>
  </div>
</div>